@import '../common/variables';

.habit-track {
    display: flex;
    flex-direction: column;
    
    &__form {
        display: flex;
        justify-content: space-between;
        margin-top: 2.5em;
    }

    &__input {
        @include input;
        border: 1px solid $pink;
        color: $pink;
        width: 75%;
    }

    &__submit {
        @include input;
        background-color: $pink;
        color: $white;
        width: 23%;

        &:hover {
            background-color: $blue;
        }
    }
}

.habit-tracking-prompts {
    margin-top: 2em;

    .timeline {
        display: flex;

        &__description {
            @include copy;
            margin-right: 1em;
        }

        &__radio {
            display: inline;
        }

        &__label {
            display: inline-block;
            padding: 10px;
            background-color: $grey;
            border-radius: 50px;
            margin-right: 1.5em;
            cursor: pointer;

            &:hover {
                background-color: $pink;
                color: $white;
            }
        }

    }
}
