@import '~reset-css-complete/reset.css';

@import './common/header';
@import './common/footer';
@import './common/main';
@import './common/variables';
@import './components/habit-track';

html {
    font-family: 'Karla', sans-serif;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: $pink;
    color: $white;
}
  
