@import '~reset-css-complete/reset.css';

@import './common/header';
@import './common/footer';
@import './common/main';
@import './common/variables';
@import './components/habit-track-form';
@import './components/habits';

html {
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100vh;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}
  
