@import 'variables';

.app {
    border: 1px solid #dfdfdf;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    max-width: 1280px;
    padding: 5em;
    width: 100%;

    &__description {
        @include copy;
        border-bottom: 2px solid $purple;
        margin-bottom: 2em;
        padding-bottom: 1em;
    }

    &__main {
        display: flex;
    }

    &__form {
        width: 55%;
    }

    &__description-copy {
        margin-bottom: 0.6em;
    }

    &__prompt {
        @include heading;
        color: $purple;
        text-align: left;
    }
}

.my-habits {
    width: 45%;
    padding: 0 3em;
    border-left: 2px solid $blue;

    &__heading {
        @include heading;
        color: $purple;
        text-align: left;
    }
}