@import 'variables';

.app {
    border: 1px solid #dfdfdf;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    max-width: 1024px;
    padding: 5em;
    width: 100%;

    &__description {
        @include copy;
        border-bottom: 2px solid $purple;
        margin-bottom: 2em;
        padding-bottom: 1em;
    }

    &__description-copy {
        margin-bottom: 0.6em;
    }

    &__prompt {
        @include heading;
        color: $purple;
    }
}

.my-habits {
    padding-top: 3em;

    &__heading {
        @include heading;
        color: $blue;
    }
}